services:
  - type: web
    name: lavanderia-backend
    env: python
    region: oregon
    plan: free
    allowRoot: true

    buildCommand: |
      pip install -r requirements.txt
      mkdir -p /data/browsers
      PLAYWRIGHT_BROWSERS_PATH=/data/browsers playwright install chromium --with-deps

    envVars:
      - key: PLAYWRIGHT_BROWSERS_PATH
        value: /data/browsers

    disk:
      name: data
      mountPath: /data
      sizeGB: 1

    startCommand: gunicorn app:app --worker-class sync --workers 1
