services:
  - type: web
    name: lavanderia-backend
    env: python
    region: oregon
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      playwright install-deps
      playwright install chromium
    startCommand: gunicorn app:app --worker-class sync --workers 1
    disk:
      name: data
      mountPath: /data
      sizeGB: 1
